html, body {
	position: relative;
	width: 100%;
	height: 100%;
    background-size: cover;
    background: linear-gradient(to bottom right, #a6c0fe, #f68080);
}

body {
	margin: 0;
	box-sizing: border-box;
    font-family: 'Poppins';
    /* font-size: 62.5%; */
}

a {
    text-decoration: none;
    color: black;
}
